.title {
    text-align: center;
    margin: 8rem 0 5rem;

    h1 {
        width: 400px;
        padding: 1rem;
        margin: 0 auto;
        background-color:var(--color-h3-about);
        color: var(--color-p-about);
        border-radius: 8px;
        font-size: 2rem;
    }

    p {
       font-size: 1.5rem;
    }
}

.carousel {
    width: 800px;
    margin: 0 auto;

    img {
        width: 800px;
        height: 1000px;
    }
}

@media(max-width: 850px){
    .carousel {
        width: 700px;
    
        img {
            width: 700px;
            height: 900px;
        }
    }
}

@media(max-width: 750px){
    .carousel {
        width: 600px;
    
        img {
            width: 600px;
            height: 800px;
        }
    }
}

@media(max-width: 650px){
    .carousel {
        width: 500px;
    
        img {
            width: 500px;
            height: 700px;
        }
    }
}

@media(max-width: 550px){

    .title {
        h1{
            width: 300px;
        }
    }
    .carousel {
        width: 400px;
    
        img {
            width: 400px;
            height: 600px;
        }
    }
}

@media(max-width: 450px){

    .title {
        h1{
            width: 200px;
            font-size: 1.5rem;
        }
    }
    .carousel {
        width: 380px;
        
        img {
            width: 380px;
            height: 580px;
        }
    }
}


@media(max-width: 400px){

    .carousel {
        width: 350px;
    
        img {
            width: 350px;
            height: 550px;
        }
    }
}