.title {
    padding: 7rem 0rem 0rem;
    text-align: center;

    img {
        width: 150px;
    }

        h1 {
            padding: 0.5rem 1rem;
            width: 250px;
            border-radius: 8px;
            margin: 0 auto;
            background-color: var(--color-h3-about) ;
            color: var(--color-p-about);
            font-size: 1.5rem;
        }
}

.carousel {
    width: 100%;

    img {
        width: 100%;
    }

}

@media(max-width: 600px){
    .title {
        img{
            width: 100px;
        }

        h1{
            font-size: 1rem;
            width: 180px;
        }
    }
   
}