.Container {
    text-align: center;

    img {
        width: 800px;

    }
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
            text-decoration: none;
            width: 175px;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            background-color: var(--color-h3-about) ;
            color: var(--color-p-about);
            font-size: 0.8rem;

            &:hover{
                color: black;
            }
        }
    }
}

@media(max-width: 850px){
    .Container {
        img {
            width: 500px;
        }
    }
}

@media(max-width: 850px){
    .Container {
        img {
            width: 400px;
        }
    }
}

@media(max-width: 600px){
    .Container {
        
        .content {
            gap: 0.5rem;
            a{
                width: 145px;
                font-size: 0.7rem; 
            }
        }
    }
}


@media(max-width: 500px){
    .Container {
       img {
        width: 250px;
       }
        .content {
            flex-direction: column;
            gap: 0.5rem;
            a{
                width: 145px;
                font-size: 0.7rem; 
            }
        }
    }
}